@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.menu-topo-dashboard {
    background: #00205a;
    height: 4em;
}

.navegacao-dashboard {
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navegacao-dashboard a {
    color: white;
    text-decoration: none;
}

.btn-voltar-dashboard i {
    font-size: 2.5em;
}

.menu-usuario-dashboard {
    display: flex;
    align-items: center;
}

.menu-usuario-dashboard i {
    font-size: 1.375em;
}

.icons-dashboard {
    display: flex;
    align-items: center;
}

.icons-dashboard i {
    margin-right: 1.2em;
}

.user-img-dashboard img {
    width: 2.5em;
    border-radius: 6.25em;
    margin-right: 0.8em;
}

.user-name-dashboard {
    margin-right: 1.7em;
}

.menu-lateral-dashboard {
    margin-left: 0.75em;
}

.container-dashboard {
    width: 100vw;
    height: 93.2vh;
    display: flex;
}

.menu-lateral-baixo-dashboard {
    width: 4em;
    background: #727272;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-white-dashboard {
    width: 2.3em;
    height: 2.3em;
    background: #fff;
    margin-top: 1em;
    border-radius: 0.3125em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-white-dashboard i {
    font-size: 1.1875em;
    color: #727272;
}

.block-dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container-base-dashboard {
    width: 1252px;
    height: 100%;
}

.campo-busca-dashboard {
    width: 1252px;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.campo-classificados-dashboard {
    width: 1252px;
    height: 86.4%;
    background: #E5E5E5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-busca-dashboard h1 {
    text-transform: uppercase;
    color: #727272;
}

.format-dashboard {
    height: 48px;
    display: flex;
    align-items: center;
}

.format-dashboard input {
    padding: 13px 300px 13px 10px;
    background: #dddddd;
    border: none;
    border-radius: 5px;
}

.button-add-classificado-dashboard a {
    display: flex;
    align-items: center;
}

.button-add-classificado-dashboard a {
    text-decoration: none;
}

.button-add-classificado-dashboard i {
    font-size: 50px;
    color: #00205a;
}

.bloco-classificado-dashboard {
    width: 97%;
    height: 50px;
    background: #fff;
    margin-top: 17px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgb(192, 192, 192);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bloco-classificado-dashboard a {
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.indice {
    height: 20px;
    width: 20px;
    background: #58FF00;
    border-radius: 10px;
    margin-right: 16px;
}

.divisionOne a {
    display: flex;
    align-items: center;
}

.divisionOne {
    display: flex;
    align-items: center;
}

.divisionOne form {
    display: flex;
    align-items: center;
}

.divisionTwo p {
    margin-right: 100px;
}

.divisionTwo {
    display: flex;
    align-items: center;
}

.status {
    margin-right: 16px;
}

.fa-ellipsis-v {
    margin-right: 16px;
    font-size: 18px;
    color: rgb(190, 190, 190);
}

.marcador {
    margin-left: 15px;
}

.imgans {
    margin-left: 15px;
    border-radius: 30px;
    width: 33px;
}

.sobre {
    margin-left: 30px;
}