@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.menu-topo-dashboard-add-categorias {
    background: #00205a;
    height: 4em;
}

.navegacao-dashboard-add-categorias {
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navegacao-dashboard-add-categorias a {
    color: white;
    text-decoration: none;
}

.btn-voltar-dashboard-add-categorias i {
    font-size: 2.5em;
}

.menu-usuario-dashboard-add-categorias {
    display: flex;
    align-items: center;
}

.menu-usuario-dashboard-add-categorias i {
    font-size: 1.375em;
}

.icons-dashboard-add-categorias {
    display: flex;
    align-items: center;
}

.icons-dashboard-add-categorias i {
    margin-right: 1.2em;
}

.user-img-dashboard-add-categorias img {
    width: 2.5em;
    border-radius: 6.25em;
    margin-right: 0.8em;
}

.user-name-dashboard-add-categorias {
    margin-right: 1.7em;
}

.menu-lateral-dashboard-add-categorias {
    margin-left: 0.75em;
}

.container-dashboard-add-categorias {
    width: 100vw;
    height: 93.2vh;
    display: flex;
}

.menu-lateral-baixo-dashboard-add-categorias {
    width: 4em;
    background: #727272;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-white-dashboard-add-categorias {
    width: 2.3em;
    height: 2.3em;
    background: #fff;
    margin-top: 1em;
    border-radius: 0.3125em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-white-dashboard-add-categorias i {
    font-size: 1.1875em;
    color: #727272;
}


/* ========================================================= */

.container-base-dashboard-add-categorias {
    width: 1252px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #005DFF; */
}

.block-dashboard-add-categorias {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background: red; */
}

.campo-classificados-dashboard-add-categorias {
    width: 450px;
    height: 35%;
    background: #E5E5E5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.campo-input-dashboard-add-categorias {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 348px;
}

.form-dashboard-add-categorias {
    display: flex;
    flex-direction: column;
}

.forms-dashboard-add-categorias {
    display: flex;
    flex-direction: column;
}

.nome-ctg-dashboard-add-categorias {
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.campo-input-dashboard-add-categorias div {
    margin-bottom: 25px;
}

.form-dashboard-add-categorias label {
    margin-bottom: 10px;
}

.bttn-add-foto-dashboard-add-categorias {
    width: 348px;
    height: 40px;
    background: #b3b3b3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttn-add-foto-dashboard-add-categorias p {
    color: #fff;
    text-transform: uppercase;
}

.now-dashboard-add-categorias {
    margin-top: 35px;
}

.form-dashboard-add-categorias a {
    text-decoration: none;
}

.submit-dashboard-add-categorias {
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    background: #00205a;
    color: #fff;
    margin-bottom: 10px;
}