@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.menu-topo-dashboard-add-classificado {
    background: #00205a;
    height: 4em;
}

.navegacao-dashboard-add-classificado {
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navegacao-dashboard-add-classificado a {
    color: white;
    text-decoration: none;
}

.btn-voltar-dashboard-add-classificado i {
    font-size: 2.5em;
}

.menu-usuario-dashboard-add-classificado {
    display: flex;
    align-items: center;
}

.menu-usuario-dashboard-add-classificado i {
    font-size: 1.375em;
}

.icons-dashboard-add-classificado {
    display: flex;
    align-items: center;
}

.icons-dashboard-add-classificado i {
    margin-right: 1.2em;
}

.user-img-dashboard-add-classificado img {
    width: 2.5em;
    border-radius: 6.25em;
    margin-right: 0.8em;
}

.user-name-dashboard-add-classificado {
    margin-right: 1.7em;
}

.menu-lateral-dashboard-add-classificado {
    margin-left: 0.75em;
}

.container-dashboard-add-classificado {
    width: 100vw;
    height: 92.6vh;
    display: flex;
}

.menu-lateral-baixo-dashboard-add-classificado {
    width: 4em;
    background: #727272;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-white-dashboard-add-classificado {
    width: 2.3em;
    height: 2.3em;
    background: #fff;
    margin-top: 1em;
    border-radius: 0.3125em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-white-dashboard-add-classificado i {
    font-size: 1.1875em;
    color: #727272;
}


/* ======================================================================== */

.block-dashboard-add-classificado {
    display: flex;
    justify-content: center;
    /* background: red; */
    width: 100vw;
}

.container-base-dashboard-add-classificado {
    width: 1252px;
    height: 100%;
    /* background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.formater-dashboard-add-classificado {
    width: 830px;
    /* height: 170px; */
    background: #E5E5E5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#select-dashboard-add-classificado {
    padding: 12px;
    border-radius: 5px;
    border: none;
}

.enviar-dashboard-add-classificado {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #00205a;
    color: #fff;
}

.sobre-dashboard-add-classificado {
    margin: 25px 0px 12px 0px;
}

.bttn-enviar-dashboard-add-classificado {
    margin: 30px 0px;
}