@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.menu-topo-dashboard-categorias {
    background: #00205a;
    height: 4em;
}

.navegacao-dashboard-categorias {
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navegacao-dashboard-categorias a {
    color: white;
    text-decoration: none;
}

.btn-voltar-dashboard-categorias i {
    font-size: 2.5em;
}

.menu-usuario-dashboard-categorias {
    display: flex;
    align-items: center;
}

.menu-usuario-dashboard-categorias i {
    font-size: 1.375em;
}

.icons-dashboard-categorias {
    display: flex;
    align-items: center;
}

.icons-dashboard-categorias i {
    margin-right: 1.2em;
}

.user-img-dashboard-categorias img {
    width: 2.5em;
    border-radius: 6.25em;
    margin-right: 0.8em;
}

.user-name-dashboard-categorias {
    margin-right: 1.7em;
}

.menu-lateral-dashboard-categorias {
    margin-left: 0.75em;
}

.container-dashboard-categorias {
    width: 100vw;
    height: 93.2vh;
    display: flex;
}

.menu-lateral-baixo-dashboard-categorias {
    width: 4em;
    background: #727272;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-white-dashboard-categorias {
    width: 2.3em;
    height: 2.3em;
    background: #fff;
    margin-top: 1em;
    border-radius: 0.3125em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-white-dashboard-categorias i {
    font-size: 1.1875em;
    color: #727272;
}


/* ========================================================= */

.container-base-dashboard-categorias {
    width: 1252px;
    height: 800px;
    /* background: #005DFF; */
}

.block-dashboard-categorias {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background: red; */
}

.campo-busca-dashboard-categorias {
    width: 1252px;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-bottom: 15px;
}

.campo-busca-dashboard-categorias a {
    text-decoration: none;
}

.campo-classificados-dashboard-categorias {
    width: 336px;
    height: 21%;
    background: #E5E5E5;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.box-dashboard-categorias {
    background: #fff;
    width: 150px;
    height: 150px;
    margin-left: 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #bebebe;
    display: flex;
    justify-content: space-between;
}

.indice-dashboard-categorias {
    height: 20px;
    width: 20px;
    background: #58FF00;
    border-radius: 10px;
    margin: 5px;
}

.marca-dashboard-categorias {
    width: 115px;
}

.logo-dashboard-categorias {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comport-logo-dashboard-categorias {
    display: flex;
    justify-content: flex-end;
}

.about-dashboard-categorias {
    height: 58px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-dashboard-categorias p {
    text-transform: uppercase;
    font-size: 15px;
}

.logo-alto-dashboard-categorias {
    width: 30px;
    margin-bottom: 5px;
}

.logo-baixo-dashboard-categorias {
    width: 55px;
}

.about2-dashboard-categorias {
    height: 58px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about2-dashboard-categorias p {
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 5px;
}

.campo-busca-dashboard-categorias h1 {
    text-transform: uppercase;
    color: #727272;
}

.bttn-add-dashboard-categorias {
    padding: 10px 15px;
    border-radius: 6px;
    background: #00205a;
    color: #fff;
    text-transform: uppercase;
}